[Unit]
Description=frps service
After=network.target
AssertFileIsExecutable=%h/programs/frp_linux_amd64/frps

[Service]
Type=simple
WorkingDirectory=%h/programs/frp_linux_amd64
ExecStart=/usr/bin/env ./frps -c frps.ini
#ExecStop=/bin/kill -s QUIT ${MAINPID}
Restart=always
SyslogFacility=local0

[Install]
WantedBy=default.target
